body {
	background: #c0cdd8;
	font-family: 'Shrikhand', cursive;
	text-align: center;
}
a {
	text-decoration: none;
	color:blue;
}
#form {
	background-color: #fff;
	padding:30px;
	padding-top:0;
	box-shadow: 0 4px 10px 0 #222;
	border-radius: 20px;
	margin:auto;
	width:365px;
	margin-top:0;

}
#form div{
	display: inline-block;
}
#break {
	width:2px;
	height:190px;
	background: #c0cdd8;
	margin: 0 20px 0 20px;
}
h2{
	margin:auto;
	margin-top:100px;
}
#hello{
	margin: 20px;
}
input{
	margin-bottom: 20px;
}