body{
	background: #c0cdd8;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
    text-align: center;
    min-width: 768px;
    color: black;
}

h1, h2, .button{
    font-family: 'Shrikhand', cursive;
}

ul{
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: aliceblue;
    border-radius: 12px;
    width: 70%;
}
li{
    float: left;
    width: 25%;
}
li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:hover{
    background-color: #fff;
}

.thumb{

}

img{
    width: 100%;
}



.tools td{
    height: 120px;
}



td{
    width: 240px;
    border-spacing: 12px;
}

table{
    width:100%;
    margin:24px;
    border-spacing: 12px;
}

.rounded, canvas, .gallery td img{
    box-shadow: 0 4px 10px 0 #222;
    border-radius: 20px;
}

canvas{
	background: #fff;
	display: block;
	margin: auto;
	box-shadow: 0 4px 10px 0 #222;
    border-radius: 20px;
	cursor: crosshair;
}
.tools{
    background-color: #c4c4c4;
    box-shadow: inset 0 0 14px 0 #222;
    border-radius: 10px;
    height: 200px;
    position: relative;
    align-self: center;
    width: 420px;
    margin: auto;
    margin-top: 20px;
    display: block;
    align-items: center;
}

#brush{
    display: block;
    align-self: center;
    margin: auto;
    border: 5px solid white;
    position: relative;
    
    background-color: #3e86fa;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.button{
    display: inline-block;
    margin: auto;
    width: 160px;
    padding: 20px;
    font-size: 110%;
    border-radius: 10px;
}

