#form{
	border: #85dfff 1px solid;
	padding: 20px;
	background-color: #D6F4FF;
	width: 150px;
	position: relative;
	top:150px;
	margin:auto;

}

#form>*{
	float: left;
}

#header{
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 1px black solid;
	background-color: #baedff;
	padding:8px;
}

#header li{
	display: inline;
}

#header li a{
	width: 60px;
	padding: 8px;
}

#header li a:hover {
	background-color: #85dfff;
}

#error{
	margin-bottom: 0;
}

body {
	background-color: #fafafa;
}